<module name="Checker">
    <property name="severity" value="warning"/>
    <property name="fileExtensions" value="java"/>

    <module name="TreeWalker">
        <!-- Manually define rules without GoogleChecks -->
        <module name="ConstantName"/>
        <module name="MemberName"/>
        <module name="MethodName"/>
        <module name="JavadocStyle"/>
        <module name="JavadocMethod"/>
        <module name="WhitespaceAround"/>
        <module name="WhitespaceAfter"/>
        <module name="NoWhitespaceBefore"/>
        <module name="EmptyLineSeparator"/>
        <module name="AvoidStarImport"/>
        <module name="UnusedImports"/>
        <module name="CustomImportOrder">
            <property name="customImportOrderRules" value="STATIC###STANDARD_JAVA_PACKAGE###SPECIAL_IMPORTS###THIRD_PARTY_PACKAGE"/>
            <property name="separateLineBetweenGroups" value="true"/>
            <property name="sortImportsInGroupAlphabetically" value="true"/>
        </module>
        <module name="LeftCurly"/>
        <module name="RightCurly"/>
        <module name="NeedBraces"/>
        <module name="Indentation"/>
        <module name="LineLength">
            <property name="max" value="100"/>
        </module>
        <module name="FinalLocalVariable"/>
        <module name="OverloadMethodsDeclarationOrder"/>
        <module name="ExplicitInitialization"/>
        <module name="VisibilityModifier"/>
        <module name="NoFinalizer"/>
        <module name="SingleSpaceSeparator"/>
        <module name="UnnecessaryParentheses"/>
        <module name="NoClone"/>
        <module name="MethodParamPad"/>
        <module name="VariableDeclarationUsageDistance"/>
    </module>
</module>
